body {
    background-color: black;
    font-family: 'Maven Pro';
}
h1 {
    font-family: 'Maven Pro', cursive;
    font-size: 2.5em;
    color:#ff9595;
}
p {
	font-family: 'Maven Pro ', cursive;
	font-size: 1.2em;
	color: #black;
}

h2 {
   font-family: 'Maven Pro', cursive;
   font-size: 1.5em;
   color:#000000;
}
h3 {
   font-family: 'Maven Pro',cursive;
   font-size: 1.5em;
   color: #000000;
}
h4 {
   font-family: 'Maven Pro',cursive;
   font-size: 1.5em;
   color: #000000;
}
a {
    color: #ff9595;
  }
#header {
 	 background-color:black;
 	 width: 100%;
 	 color: #ffffff;
 	 position:fixed;
 	 z-index:100;
 	 }
#footer {
   background-color: white;
   width: 90%;
   height:auto;
   padding:5%,
   color: red;
   }
a:link {
   text-decoration: none;
   border-bottom: 1px;
 }
a:hover {
   color: purple;
   }
